* {
  margin:0;
  padding: 0;
}

#navbar {
  background-color: oldlace;
  height: 6vh;
  padding-left: 10px;
  position: fixed;
  width: 100%;
}

#navbar>li {
  display: inline-block;
  padding: 2vh 2vh;
}

#navbar>li>a {
  color: saddlebrown;
  font: 2vh "Lucida Console", Monaco, Monospace;
  text-align: center;
  text-decoration: none;
}

#navbar>li>a:hover {
  color: midnightblue;
  text-decoration: underline; 
}

#home {
  background-color: oldlace;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

#home-container {
  margin-top: 35vh;
}

#links {
  display: flex;
  justify-content: center;
}

#links>button {
  border: 1px solid black;
  background-color: oldlace;
  border-radius: 50%;
  color: black;
  height: 60px;
  margin: 15px;
  width: 60px;
}

#links>button:hover {
  background-color: darkslategrey;
  color:white;
}

#links>button>i {
  font-size: 30px;
}

h1 {
  font: 10vh "Lucida Console", Monaco, Monospace;
}

#intro {
  color: whitesmoke;
  padding: 10vh 15vw;
  background-color: rgb(204, 124, 97);
}

h2 {
  font: bold 30px "Trebuchet MS", Helvetica, sans-serif;
  margin-bottom: 15px;
}

#intro>p {
  color: gainsboro;
  font: 15px Verdana, Geneva, sans-serif;
  line-height: 1.5;
}

#intro>p:first-of-type {
  margin-bottom: 30px;
}

