* {
  margin:0;
  padding: 0;
}
#navbar{
  position: fixed;
  width: 100%;
}

#navbar>li{
  display: inline-block;
}

#home {
  background-color: oldlace;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

#home-container {
  margin-top: 35vh;
}

#links {
  display: flex;
  justify-content: center;
}

#links>button {
  border: 1px solid black;
  background-color: oldlace;
  border-radius: 50%;
  color: black;
  height: 60px;
  margin: 15px;
  width: 60px;
}

#links>button:hover {
  background-color: darkslategrey;
  color:white;
}

#links>button>i {
  font-size: 30px;
}

h1 {
  font: 10vh "Lucida Console", Monaco, Monospace;
}

