* {
  margin:0;
  padding: 0;
}

body {
  background-color: linen;
  padding: 10vh 15vw;
}

h1 {
  font: 7vh "Lucida Console", Monaco, Monospace;
  color: saddlebrown;
  margin-bottom: 10px;
}

p {
  font: 15px Verdana, Geneva, sans-serif;
  padding: 20px;
  border-radius: 10px;
  background-color: saddlebrown;
  line-height: 1.5;
  color: antiquewhite;
  margin: 15px 0;
}

#to-home{
  background-color: darkslategrey;
  border: none;
  border-radius: 15px;
  color: ghostwhite;
  font: 15px Verdana, Geneva, sans-serif;
  padding: 10px 15px;
}
